<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplikasiantrianklinik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileDokterActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MyScheduleActivity" />
        <activity android:name=".DashboardSetelahDaftarActivity" />
        <activity android:name=".PendaftaranKonsultasiActivity" />
        <activity android:name=".DetailJadwalDokterActivity" />
        <activity android:name=".JadwalDokterActivity" />
        <activity android:name=".DashboardDokterActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".halamanpendaftaran"/>
        <activity android:name=".detailhistorykonsultasi"/>
        <activity android:name=".detailnotifikasi"/>
        <activity android:name=".halamankosultasipasien"/>
        <activity android:name=".historykonsultasi"/>
        <activity android:name=".notifikasi"/>
        <activity android:name=".registrasidokter"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>